<p>
    <%= form_for(@blog) do |f| %>
    <%= f.label "本文" %>
    <%= f.text_field :body %>
    
    <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>
</p>
<% @blogs.reverse_each do |blog| %>
    <%= render 'layouts/blog', blog: blog %>
<% end %>